@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: Roboto;
}

html,
body {
  min-height: 100%;
}
body {
  background-color: rgba(242, 242, 242, 1);
}

.economiks {
  background-color: rgb(185, 228, 185);
}
.economikssub {
  background-color: rgb(186, 206, 192);
}
.titletext-index {
  font-family: righteous;
  color: rgb(58, 77, 59);
  font-size: 7rem;
}
.logo-titulo {
  height: 50px;
}

@media  screen and (max-width: 100%) {
  input{
    width: 400px;
  }
  
}

.col-8 {
  background-color: inherit;
}
.cortemp {
  background-color: inherit;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.items {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px;
}
.slick-slide img {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.26);
}
.div-carousel {
  margin: 0px;
  display: inline-block;
}
.titulo-produto {
  margin: 0px;
  background-color: aqua;
  display: inline-block;
  max-width: 130px;
  overflow: hidden;
}
@media (max-width: 320px) {
  .titletext-index {
    font-size: 4rem;
  }
}
