@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.economiks{
    background-color: rgb(177, 206, 196);
}
.economikssub{
    background-color: rgb(139, 160, 152);
}
.titletext{
    font-family: Righteous;
}