@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  font-family: Roboto;
}
body {
  margin: 0%;
  height: 100vh;
}
.body-cadastro {
  background-image: url("resources/Desktop\ -\ 7\ \(6\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgba(242, 242, 242, 1);
  height: 100vh;
}
.titletext {
  font-family: righteous;
  color: rgba(76, 101, 77, 1);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
  font-size: 5vw;
}

.box {
  width: 50%;
  background-color: rgba(198, 243, 181, 1);
}

@media all and (max-width: 1000px) {
  .box {
    width: 90%;
  }
}

.form-control {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: #eaf4e9;
}

.btn {
  background-color: #a1d78c;
  color: rgb(49, 63, 58);
  border-radius: 15px;
  font-size: 2ch;
  font-weight: bold;
}

@media all and (max-width: 1000px) {
  .btn {
    width: 90%;
  }
}

@media all and (max-width: 920px) {
  .body-cadastro {
    background-image: url("resources/Desktop\ -\ 11Medium.png");
    background-position: center;
    background-size: cover;
  }

  @media all and (max-width: 700px) {
    .body-cadastro {
      background-image: url("resources/iPhone\ 14\ -\ 1.png");
      background-position: center;
      background-size: cover;
    }
  }

  .logo-economiks {
    width: 10vw;
  }

  .titletext {
    font-size: 10vw;
  }
}
